In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv(r"C:\class\projects\sem 5\Machine Learning\Custom_CNN_Features.csv")
data=df.drop(['Filename'], axis=1)
data

,Label,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f190,f191,f192,f193,f194,f195,f196,f197,f198,f199
0,2,50.557468,0.0,0.0,0.0,0.0,0.0,0.000000,0,414.879486,...,316.271667,0.0,239.577011,277.834534,205.776398,0.0,0.0,0.0,0.0,91.438698
1,2,125.256027,0.0,0.0,0.0,0.0,0.0,48.989120,0,1736.242432,...,1317.333740,0.0,1000.075012,1118.496948,1030.366699,0.0,0.0,0.0,0.0,297.483124
2,2,50.160606,0.0,0.0,0.0,0.0,0.0,0.000000,0,435.235992,...,330.470978,0.0,251.886398,288.062134,220.889481,0.0,0.0,0.0,0.0,93.795654
3,2,63.720730,0.0,0.0,0.0,0.0,0.0,0.000000,0,588.439148,...,442.839233,0.0,345.145599,389.100678,304.433990,0.0,0.0,0.0,0.0,117.381721
4,2,64.484604,0.0,0.0,0.0,0.0,0.0,37.368713,0,1080.826782,...,835.147400,0.0,649.643616,693.101868,690.640564,0.0,0.0,0.0,0.0,159.916016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,2,283.005707,0.0,0.0,0.0,0.0,0.0,73.068192,0,3528.416992,...,2643.636230,0.0,2036.106934,2269.582275,1973.414917,0.0,0.0,0.0,0.0,657.907715
3249,2,609.193603,0.0,0.0,0.0,0.0,0.0,131.018112,0,8026.524414,...,5950.206055,0.0,4727.840820,5170.731934,4594.757324,0.0,0.0,0.0,0.0,1362.733398
3250,2,781.789490,0.0,0.0,0.0,0.0,0.0,174.997360,0,10129.193360,...,7535.423828,0.0,5972.883789,6563.629883,5749.376465,0.0,0.0,0.0,0.0,1758.735840
3251,2,688.966675,0.0,0.0,0.0,0.0,0.0,206.603851,0,9555.453125,...,7119.000977,0.0,5575.274414,6160.208984,5423.260742,0.0,0.0,0.0,0.0,1670.340088
3252,2,180.310455,0.0,0.0,0.0,0.0,0.0,81.433441,0,2559.565430,...,1922.478027,0.0,1477.720093,1617.056763,1526.339966,0.0,0.0,0.0,0.0,408.525330

In [2]:
cf2 = df[df['Label'] == 0]
cf3 = df[df['Label'] == 1]
f2 = np.var(cf2[['f2', 'f3']], ddof=1)
f3 = np.var(cf3[['f2', 'f3']], ddof=1)
meanf2 = np.mean(cf2[['f2', 'f3']], axis=0)
meanf3 = np.mean(cf3[['f2', 'f3']], axis=0)
distance = np.linalg.norm(meanf2 - meanf3)
print(f'variance for Class f2: {f2}')
print(f'variance for Class f3: {f3}')
print(f'distance between f2 and f3: {distance}')

variance for Class f2: f2    7497.578249
f3    9845.681376
dtype: float64
variance for Class f3: f2    2116.911121
f3    6977.530106
dtype: float64
distance between f2 and f3: 177.74815440349153

In [1]:
import numpy as np
import pandas as pd

# Dataset with two classes
data = pd.read_csv(r"C:\Users\ambat\Downloads\Custom_CNN_Features.csv")

# Calculate the mean for each class
mean_class_1 = data[data[:, 0] == 1].mean(axis=0)
mean_class_2 = data[data[:, 0] == 2].mean(axis=0)

print("Mean for class 1:", mean_class_1)
print("Mean for class 2:", mean_class_2)


std_dev_class_1 = np.std(data[data[:, 0] == 1], axis=0)
std_dev_class_2 = np.std(data[data[:, 0] == 2], axis=0)

print("Standard deviation for class 1:", std_dev_class_1)
print("Standard deviation for class 2:", std_dev_class_2)



distance_between_classes = np.linalg.norm(mean_class_1 - mean_class_2)

print("Distance between mean vectors between classes:", distance_between_classes)

InvalidIndexError: (slice(None, None, None), 0)